.section {
    padding: 80px 0;
}

@include custom_max(1200px) {
    .section {
        padding: 60px 0;
    }
}

@include custom_max(992px) {
    .section {
        padding: 45px 0;
    }
}

@include custom_max(768px) {
    .section {
        padding: 30px 0;
    }
}