.slick-slide {
    &:focus {
        outline: none;
    }
}

.slick-dots {
    margin-top: 15px;
    text-align: center;
    li {
        display: inline-block;
        margin: 3px;
        height: 6px;
        width: 6px;
        border-radius: 100%;
        background-color: $t-color;
        cursor: pointer;
        button {
            text-indent: -9999px;
            border: none;
            background-color: transparent;
            &:focus {
                outline: none;
            }
        }
        &.slick-active {
            background-color: $primaryColor;
        }
    }
}

.slick-arrow {
    // position: absolute;
    top: 50%;
    transform: translateY(-50%);
    i {
        font-size: 2rem;
        line-height: 22px;
        height: 22px;
        width: 22px;
        color: rgb(225, 228, 219);
        text-align: center;
        cursor: pointer;
        &:hover {
            color: #000;
        }
    }
    &.left {
        left: 0px;
        top: 50%;
        z-index: 9;
    }
    &.right {
        right: 0px;
        top: 50%;
    }
}